.poker-game {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: right;
    background: rgb(0 0 0 / 10%);
    padding: 8px;

    &-player {
      flex: 1;
      color: white;
    }

    &-counter {
      color: white;
      margin: 0 16px;
      text-shadow: 1px 1px #816a8f;
    }
  }

  &__main {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;

    &-player {
      margin: 0 16px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-card {
        width: 65px;
        height: 110px;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px #000000ab;
        margin-bottom: 8px;
      }
    }
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 0;

    &-item {
      height: 80px;
      background: white;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      margin: 0 8px;
      box-shadow: 0 0 5px #000000ab;
      font-size: 22px;
      font-weight: 600;
    }
  }
}
