$form-width: 600px;

.login-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__label {
    font-size: 24px;
    color: white;
    width: $form-width;
    text-align: center;
  }

  &__form {
    display: flex;
    width: $form-width;
    margin: 16px 0;

    &-group {
      padding: 8px;
    }

    &-control {
      border-right: solid 1px #CCC !important;
    }
  }
}
