body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 700px;
  height: 100vh;
  overflow-y: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.poker-planing {
  height: 100%;
  background: linear-gradient(
    200.96deg, #fffdf0 -29.09%, #5e75a9 51.77%, #cd5157 129.35% );
}

